{% load static %}

<header class="header-top layout-container">
    <a href="#" class="logo">
        쇼핑몰<span class="green"><i class="ph-fill ph-asterisk"></i></span>
    </a>

    <div class="right-box">
        <div class="top-links">
            <a href="#">로그인/회원가입</a>
            <a href="#">고객센터</a>
        </div>
        <div class="bottom-actions">
            
            <div class="search-container">
                <div class="search-bar">
                    <input type="text" placeholder="검색어를 입력하세요">
                    <div class="search-icon"><i class="ph ph-magnifying-glass"></i></div>
                </div>

                <div id="searchDropdown" class="search-dropdown">
                    <div class="recent-area">
                        <span class="dropdown-title">최근 검색어</span>
                        <div class="empty-msg">
                            최근 검색어 내역이 없어요.
                        </div>
                    </div>
                    
                    <div class="popular-area">
                        <span class="dropdown-title">인기 검색어</span>
                        <div class="keyword-list">
                            <span class="keyword-tag">오트몬드프로틴</span>
                            <span class="keyword-tag">게토레이굿즈</span>
                            <span class="keyword-tag">제로</span>
                            <span class="keyword-tag">오트몬드</span>
                            <span class="keyword-tag">사이다</span>
                            <span class="keyword-tag">칠성사이다</span>
                            <span class="keyword-tag">펩시</span>
                            <span class="keyword-tag">트레비</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-group">
                <div class="icon-item"><i class="ph ph-handbag"></i></div>
                <div class="icon-item"><i class="ph ph-heart"></i></div>
                <div class="icon-item"><i class="ph ph-user"></i></div>
            </div>
        </div>
    </div>
</header>

<nav class="gnb-area layout-container">
    <div class="category-btn">
        <div class="hamburger-icon"><i class="ph ph-list"></i></div>
        전체 카테고리
    </div>
    <div class="separator"></div>
    <ul class="menu-list">
        <li class="menu-item chil">Chil For You</li>
        <li class="menu-item">정기구독</li>
        <li class="menu-item">선물하기</li>
        <li class="menu-item">이벤트</li>
        <li class="menu-item">브랜드</li>
    </ul>
</nav>